.App {
  text-align: center;
}

.active-link {
  color: #fff;
}

/* ----------------Scrollbar------------------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}